.admissionpage .pagesHeading {
    font-family: "josefin-sans";
    font-size: var(--font-36);
    line-height: 48px;
    color: var(--primary-blue);
}

.admissionpage p {
    line-height: 32px;
}

.admissionpage {
    background-color: #F9F9F9;
}
.admissionpage .headingHover:hover{
    color: var(--primary-green);
}
.admissionpage .headingColor {
    color: var(--primary-green);
}
.admissionpage .sortingList table thead{
    background-color: var(--primary-green);
    color: var(--bs-white);
    font-size: var(--font-16);
    font-weight: var(--font-600);
    font-family: 'josefin-sans';
}
.admissionpage .sortingList table tbody{
    background-color: var(--primary-blue);
    color: var(--bs-white);
    font-size: var(--font-14);
    font-family: 'josefin-sans';
}

.nav-tabs .nav-item.show .innerTab, .nav-tabs .innerTab.active {   
    background-color: #fff !important;
    color: var(--primary-blue) !important;
    border-bottom: 3px solid var(--primary-blue);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.nav-tabs .innerTab a{
    color: #777 !important;
    text-decoration: none;
}
.nav-tabs .nav-item.show .innerTab, .nav-tabs .innerTab.active a {
    color: var(--primary-blue) !important;
}

.admissionpage .faqs .accordion .accordion-header .accordion-button {
    color: var(--primary-blue);
}
.admissionpage .faqs .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    background-color: var(--primary-green) !important;
    color: var(--bs-white) !important;
}
.admissionpage .faqs .accordion .accordion-item .collapse.show {
    border: 1px solid var(--primary-green);
}

@media (max-width: 767px) {
    .admissionpage .pagesHeading {
        font-size: var(--font-28);
        line-height: 34px;
    }
    .admissionpage p {
        text-align: justify;
    }
}