.placementpage {
    background-color: #F9F9F9;
}
.placementpage .pagesHeading {
    font-family: "josefin-sans";
    font-size: var(--font-36);
    line-height: 48px;
    color: var(--primary-blue);
}

.placementpage p {
    line-height: 32px;
}

.placementpage .sortingList table thead{
    background-color: var(--primary-green);
    color: var(--bs-white);
    font-size: var(--font-16);
    font-weight: var(--font-600);
    font-family: 'josefin-sans';
}
.placementpage .sortingList table tbody{
    background-color: var(--primary-blue);
    color: var(--bs-white);
    font-size: var(--font-14);
    font-family: 'josefin-sans';
}
.placementpage .showInterestform input,
.placementpage .showInterestform select,
.placementpage .showInterestform textarea{
    border: 1px solid #e9e9e9;
    color: #9e9e9e;
    font-size: 14px;
}

.placementpage .pagesCard .imge .guestPic{
    height: 302px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
}
.placementpage .pagesCard .imge{
    position: relative;
}
.placementpage .pagesCard .imge .playIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    visibility: visible;
}
.placementpage .pagesCard .imge .playIcon img{
    width: 78px;
    height: 78px;
 }
.placementpage .pagesCard .card-body .card-title{
    font-size: var(--font-24);
    line-height: 32px;
    color: var(--primary-blue);
    min-height: 64px;
    font-family: 'josefin-sans';
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.placementpage .pagesCard .card-body .card-name{
    color: #3F3F3F;
    font-family: 'josefin-sans';
    font-size: 18px;
  }
.placementpage .pagesCard .card-body .card-text{
    font-size: var(--font-16);
    line-height: 28px;
    color: #3F3F3F;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}
.placementpage .pagesCard .card-body{
   height: 208px;
}
.placementpage .pagesCard:hover .imge .playIcon {
    visibility: visible;
}
.placementpage .pagesCard:hover {
    background-color: var(--primary-blue);
    cursor: pointer;
    transition: all .3s linear;
}
/* .placementpage .pagesCard:hover .imge .guestPic {
    opacity: .6;
} */

.placementpage .pagesCard:hover .imge .myexpericencePic {
    opacity: .6;
}

.placementpage .pagesCard:hover .card-title,
.placementpage .pagesCard:hover .card-text,
.placementpage .pagesCard:hover .card-name{
    color: var(--bs-white);
}

@media (max-width: 767px) {
    .placementpage .pagesHeading {
        font-size: var(--font-28);
        line-height: 34px;
    }
    .placementpage p {
        text-align: justify;
    }
}